:root{
    --yellow-soft-linear: linear-gradient(180deg, rgba(255, 252, 176, 0.81) 0%, rgba(255, 251, 149, 0.7938) 100%);
    --green-soft-opacity: rgba(202, 255, 163, 0.54);
    --green-dark-opacity: rgba(74, 150, 20, 0.805);
    --yellow--moresoft-linear: linear-gradient(180deg, #FFFDCA 0%, #FBF8AB 100%);
    --yellow-soft: #FFFED3;
    --yellow-dark-soft-linear: linear-gradient(180deg, #F1EEA6 0%, rgba(255, 251, 149, 0.98) 100%);
    --bgColor-card-title: rgba(255, 255, 255, 0.55);
    --bgColor-nav: linear-gradient(41deg, rgba(255,254,254,1) 0%, rgba(251,251,251,1) 100%);
    --line-item-menu-color: #001E90;
    --header-transparent: linear-gradient(180deg, rgba(255, 252, 176, 0.2511) 0%, rgba(255, 251, 149, 0) 100%);
    --card-new: linear-gradient(180deg, rgba(234, 255, 218, 0.54) 0%, rgba(219, 253, 194, 0.54) 100%);
    --contact-color: linear-gradient(242.63deg, #FBFBFB 9.6%, #F5F5F5 78.41%);
    --footer-color: linear-gradient(180deg, #FFFDCC 0%, #FDFFA2 100%);
    --menu-bar: linear-gradient(180deg, #F7F7F7 0%, #F5F5F5 100%);
    --menu-principal-color: rgba(255, 255, 255, 0.23);
    --subitem-principal-color: rgba(255, 255, 255, 0.443);
    --subitem-principal-color-dos: rgba(199, 199, 199, 0.676);
    --subitem-principal-color-hover: rgba(255, 255, 255, 0.636);
}